body{
  margin:0;
  font-family:Poppins;
  color:#00f7ff;
  background:black;
}

.bg{
  position:fixed;
  width:100%;
  height:100%;
  background:url('https://i.ibb.co.com/9HQCvdjn/1775328895589.png') center/cover;
  filter:brightness(0.4);
  z-index:-1;
}

/* LAYOUT */
.app{
  display:flex;
  padding:30px;
  gap:20px;
}

/* RESPONSIVE */
@media(max-width:900px){
  .app{
    flex-direction:column;
  }
}

/* LEFT */
.left{flex:1;}

.profile{
  display:flex;
  gap:15px;
}

.profile img{
  width:80px;
  border-radius:50%;
  box-shadow:0 0 20px cyan;
}

/* STATS */
.stats{
  display:flex;
  gap:10px;
  margin:20px 0;
}

.stats div{
  flex:1;
  padding:15px;
  background:rgba(0,255,255,0.1);
  border-radius:10px;
  text-align:center;
}

/* ICON */
.icons a{
  display:inline-block;
  width:55px;
  height:55px;
  margin:5px;
  padding:10px;
  border-radius:50%;
  background:black;
  box-shadow:0 0 20px cyan;
}

.icons img{width:100%;}

/* BUTTON */
.btn{
  display:block;
  padding:12px;
  margin:10px 0;
  text-align:center;
  border:2px solid cyan;
  border-radius:12px;
  color:cyan;
  text-decoration:none;
}

.btn:hover{
  background:cyan;
  color:black;
}

/* RIGHT */
.right{
  flex:1;
  text-align:center;
}

.avatar-box{
  border:2px solid cyan;
  border-radius:20px;
  padding:20px;
  box-shadow:0 0 40px cyan;
}

/* AVATAR */
#avatar3d{
  width:100%;
  height:400px;
}

/* BIO */
.bio{
  margin:20px;
  padding:20px;
  border:2px solid cyan;
  border-radius:15px;
}
