body{
  margin:0;
  font-family:Poppins;
  color:#00f7ff;
  background:black;
}

.bg{
  position:fixed;
  width:100%;
  height:100%;
  background:url('https://i.ibb.co.com/9HQCvdjn/1775328895589.png') center/cover;
  filter:brightness(0.4);
  z-index:-1;
}

.container{
  display:flex;
  padding:30px;
  gap:20px;
}

@media(max-width:900px){
  .container{
    flex-direction:column;
  }
}

.left,.right{flex:1}

/* PROFILE */
.profile{
  display:flex;
  gap:15px;
}

.profile img{
  width:80px;
  border-radius:50%;
  box-shadow:0 0 20px cyan;
}

/* STATS */
.stats{
  display:flex;
  gap:10px;
  margin:20px 0;
}

.stats div{
  flex:1;
  padding:15px;
  background:rgba(0,255,255,0.1);
  border-radius:10px;
  text-align:center;
}

/* ICON */
.icons a{
  display:inline-block;
  width:55px;
  height:55px;
  padding:10px;
  margin:5px;
  border-radius:50%;
  background:black;
  box-shadow:0 0 20px cyan;
}

.icons img{width:100%}

/* BUTTON */
.btn{
  display:block;
  margin:10px 0;
  padding:12px;
  border:2px solid cyan;
  border-radius:10px;
  color:cyan;
  text-decoration:none;
  text-align:center;
}

.btn:hover{
  background:cyan;
  color:black;
}

/* AVATAR */
.avatar-box{
  border:2px solid cyan;
  border-radius:20px;
  padding:15px;
  box-shadow:0 0 40px cyan;
  text-align:center;
}

#avatar{
  width:100%;
  border-radius:10px;
}

/* BIO */
.bio{
  margin:20px;
  padding:20px;
  border:2px solid cyan;
  border-radius:15px;
}
